* {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.wrapper {
  border: 1px dashed #666;
  padding: 1em;
  height: 500px;
}

.wrapper div {
  background: #eee;
  border: 1px solid #666;
  padding: 1em;
  text-align: center;
  flex-direction: column;
}

.flex-item {
  width: 50%;
  margin: 5px;
  background-color: #ccc;
}
.flex-item:nth-child(1),
.flex-item:nth-child(5) {
  flex-basis: calc(100% - 10px);
  height: 450px;
}

.flex-item:nth-child(n+2):nth-child(-n+4),
.flex-item:nth-child(n+6):nth-child(-n+8) {
  height: 50px;
  flex-basis: 50%;
}
