body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    font-size: 16px;
    background-color: #ddd;
    background: url(../images/pattern.png),
    url(../images/blossom.jpg) no-repeat;
}

h1 {
    text-align: center;
    background-color: #333;
    color: #ddd;
}

main {
    color: #ddd;
    background: url(../images/fire.png) center center/300px no-repeat;
}

