body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #aaa8a8;
    color: black;
    padding: 20px;
}

main {
    display: flex;
}

article {
    -ms-flex-preferred-size: 24%;
    flex-basis: 24%;
    width: 49%;
}

aside {
   flex-basis:32%;
   -ms-flex-preferred-size: 32%;
}

footer {
    background-color: #aaa8a8;
    color: black;
    padding: 20px;
    text-align: left;
}